@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans&display=swap');

.body {
  font-family: "Rethink Sans", sans-serif;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  border: #3a3a3a 1px solid;
  padding: 16px;
}

.inputField {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.submitButton {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #0056b3;
}

.title {
  text-align: center;
  padding: 16px;
}